/bookproject/myapp/migrations
/bookproject/myapp/views/__pycache__/
/bookproject/.idea
/web/.idea
/web/dist
/web/node_modules
/bookproject/.idea/
/.idea/
.DS_Store
bookproject/.DS_Store
__pycache__
/venv
/Front/node_modules